/* Contact form */

.Csidebar i{
    margin-top: 50px;
    margin-left: 20px;
    padding: 0px;
  }
  .Csidebar {
    background-color: rgb(246, 246, 246);
    margin-top: 100px;
    width: 300px;
  }
  
  .Csidebar nav {
    margin-top: 100px;
    padding: auto;
  }
  
  .Csidebar nav  li {
    color: rgb(4, 6, 5);
    font-size: 20px;
    padding:20px;
  }
  .Csidebar nav  li a{
    color: rgb(12, 14, 14);
    text-decoration: none;
    font-family: monospace;
  }
  .Ccontainer {
    display: flex;
    /* background-color: rgb(241, 187, 243); */
    background-color: rgb(250, 250, 250);
  }
  .Cregister{
    display: flex;
    /* background-color: rgb(241, 187, 243); */
    background-color: rgb(238, 239, 240);
  }
  
  .contactform button{
    font-family: monospace;
    border: 1px solid rgb(238, 238, 238);
    margin-top: 20px;
    padding: 40px;
    border-radius: 30px;
    /* color: white; */
    background-color:rgb(6, 35, 58);
    font-size: 30px;
    cursor: pointer;
  }
  .contactform button:hover{  
    background-color:rgb(6, 35, 58);
    color: aquamarine;
  
  }
  .contactform{
  margin-top: 50px;
  padding: 0 34px;
  padding-top: 144px;
  font-family: 'Fira sans', sans-serif;
  }
  .contactform h1{
    font-family:  monospace;
    font-size: 35px;
    margin-bottom: 80px;
  }
  .contactform form div{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .contactform form div{
  width: 50vw;

  padding: 3px;
  }
  
  #emailHelp{
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
  }
  