/* Your CSS Code here. */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&family=Source+Code+Pro:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
}
.mb-3{
  margin-top: 1000px;
}
.contactform
  {
    font-family: monospace;
    color: aquamarine;
}

.logo {
  margin-top: 20px;
  margin-left: 30px;
  max-width: 20%;
  background-color: rgb(6, 35, 58);
}
.sidebar {
  background-color: rgb(6, 35, 58);
  margin-top: 100px;
  width: 300px;
}
.sidebar i{
  color:slategrey ;
  width: 5px;
  margin-top:50px;
  margin-right: 50px;
}
/* .sidebar i:hover{
background-color:slategrey ;
color: aquamarine;

} */

.sidebar nav {
  margin-top: 100px;
}

.sidebar nav  li {
color: aquamarine;
  font-size: 20px;
  padding:20px;
}
.sidebar nav  li a{
  color: aquamarine;
  text-decoration: none;
  font-family: monospace;
}

.main {
 /* background-color: rgb(248, 195, 250); */
 background-color: rgb(6, 35, 58);
  width: 200px;
  height: 851px;
}

.container {
  display: flex;
  /* background-color: rgb(241, 187, 243); */
  background-color: rgb(6, 35, 58);
  width: 2000px;
  height: 1000px;
}
.infocontainer {
  background-color: rgb(6, 35, 58);
  height: 55vh;
  width: 80vw;
  margin: 144px auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.devInfo{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

.hello{
  font-family: monospace;
  font-size: 20px;
  padding: 20px;
  color: aquamarine
}
.name{
    padding: 10px;
    color: rgb(191, 204, 218);
    font-size: clamp(40px, 8vw, 80px);
    font-weight: bold;
    font-family: "Lora", serif;
}
.about{
    padding: 10px;
    color: lightslategray;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    font-family: "Lora", serif
}
.moreabout{
  font-family: sans-serif;
  margin: 20px 0px 0px;
  max-width: 540px;
  font-size: 20px;
  margin-right: 800px;
  margin: 40;
  width: 600px;
  color:slategray
}
.buttons button{
  font-family: monospace;
  border: 1px solid aquamarine;
  margin-top: 20px;
  padding: 60px;
  border-radius: 30px;
  /* color: white; */
  background-color:rgb(6, 35, 58);
  font-size: 30px;
  cursor: pointer;
}

.buttons button:hover{
  background-color:rgb(6, 35, 58);
  color: aquamarine;
}

.devPic img{
  height: 55vh;
}


/* Contact form */

.Csidebar i{
  margin-top: 50px;
  margin-left: 20px;
  padding: 0px;
}
.Csidebar {
  background-color: rgb(6, 35, 58);
  margin-top: 100px;
  width: 300px;
}

.Csidebar nav {
  margin-top: 100px;
  padding: auto;
}

.Csidebar nav  li {
  color: aquamarine;
  font-size: 20px;
  padding:20px;
}
.Csidebar nav  li a{
  color: aquamarine;
  text-decoration: none;
  font-family: monospace;
}
.Ccontainer {
  display: flex;
  /* background-color: rgb(241, 187, 243); */
  background-color: rgb(6, 35, 58);
  width: 2000px;
  height: 1000px;
}
.Cregister{
  display: flex;
  /* background-color: rgb(241, 187, 243); */
  background-color: rgb(6, 35, 58);
  width: 2000px;
  height: 1000px;
}

.contactform button{
  font-family: monospace;
  border: 1px solid aquamarine;
  margin-top: 20px;
  padding: 40px;
  border-radius: 30px;
  /* color: white; */
  background-color:rgb(6, 35, 58);
  font-size: 30px;
  cursor: pointer;
}
.contactform button:hover{  
  background-color:rgb(6, 35, 58);
  color: aquamarine;

}
.contactform{
margin-top: 50px;
padding: 0 34px;
padding-top: 144px;
font-family: 'Fira sans', sans-serif;
}
.contactform h1{
  font-family:  monospace;
  font-size: 35px;
  margin-bottom: 50px;
}
.contactform form div{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.contactform form div{
width: 50vw;
border-radius: 30px;
margin: 6px 0;
padding: 3px;
}

#emailHelp{
  font-size: 10px;
  color: mediumaquamarine;
  margin: 10px;
}

/* Second Slide */


.main1{
  /* background-color: rgb(248, 195, 250);  */
  background-color: rgb(6, 35, 58);
  width: 300px;
  height: 851px;
 }
 
 .container1{
  display: flex;
  /* background-color: rgb(241, 187, 243); */
  background-color: rgb(6, 35, 58);
  width: 2000px;
  height: 1000px;
 }
 .infocontainer1{
  background-color: rgb(6, 35, 58);
  height: 55vh;
  width: 80vw;
  margin: 144px auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
 }
 .devInfo1{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;

 }
 
 .hello1{
  font-family: monospace;
  font-size: 20px;
  padding: 20px;
  color: aquamarine
 }
 .name1{
  padding: 20px;
  color: rgb(191, 204, 218);
  font-size: clamp(40px, 8vw, 80px);
  font-weight: bold;
  font-family: "Lora", serif;
 }
 .about1{
  padding: 10px;
  color: lightslategray;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  font-family: "Lora", serif
 }
 .moreabout1{
    font-family: sans-serif;
    margin: 20px 0px 0px;
    max-width: 320px;
    font-size: 20px;
    margin-right: 800px;
    margin: 40;
    width: 600px;
    color:slategray
 }